force-app/main/default/flows/Bundle_Return_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_ProductId_and_Order_ProductId</name>
        <label>Assign ProductId and Order ProductId</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Loop_Selected_Products.Orl_Parent_Return_Order_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildOrderList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_order_availability</name>
        <label>Check order availability</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Order_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Orders</targetReference>
            </connector>
            <label>available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bundle Return Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bundle Return Orders</label>
    <loops>
        <name>Loop_Selected_Products</name>
        <label>Loop Selected Products</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>Data_List.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ProductId_and_Order_ProductId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>newOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Selected_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_5_of_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bundle__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Order__c</field>
            <value>
                <elementReference>Original_orderId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orl_Return_Status__c</field>
            <value>
                <stringValue>Sent to Orel W/H</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Order_Type__c</field>
            <value>
                <stringValue>Replacement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Accountable__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Order_Account__c</field>
            <value>
                <elementReference>Get_Distributor_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Order_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Order_Template__c</field>
            <value>
                <elementReference>Get_Order_template.Id</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Order__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Distributor_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Distributor_Account</name>
        <label>Get Distributor Account</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_template</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_template</name>
        <label>Get Order template</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Return_Order_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Order_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order_Records</name>
        <label>Get Return Order Records</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_order_availability</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_4_of_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Orl_Parent_Return_Order_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Return_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Replacement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Orl_Return_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received at distributor W/H</stringValue>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Order_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Distributor_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Order_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cgcloud__Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>rollback_bundled_record</name>
        <label>rollback bundled record</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Orders</name>
        <label>Update Orders</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ChildOrderList</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Orl_Parent_Return_Order_Id__c</field>
            <value>
                <elementReference>newOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orl_Return_Status__c</field>
            <value>
                <stringValue>Sent to Orel W/H</stringValue>
            </value>
        </inputAssignments>
        <object>cgcloud__Order__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Error Screen</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Errorpage1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Error! :&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(173, 2, 2); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Error_Screen</name>
        <label>Copy 2 of Error Screen</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Errorpage1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Error! :&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(173, 2, 2); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Error_Screen</name>
        <label>Copy 3 of Error Screen</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_3_of_Errorpage1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Error! :&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(173, 2, 2); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Error_Screen</name>
        <label>Copy 4 of Error Screen</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_4_of_Errorpage1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Error! :&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(173, 2, 2); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Error_Screen</name>
        <label>Copy 5 of Error Screen</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_5_of_Errorpage1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Error! :&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(173, 2, 2); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display</name>
        <label>Display</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(2, 14, 102); font-size: 14px;&quot;&gt;No Return Orders to bundle&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen1</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>rollback_bundled_record</targetReference>
        </connector>
        <fields>
            <name>Errorpage1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Error! :&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(173, 2, 2); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Return_Orders</name>
        <label>Return Orders</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(2, 8, 89); font-size: 14px;&quot;&gt;Please tag original Sales Order&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Return_Orders_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Return_Orders_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Original_orderId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Original_Order__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Original Order</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>cgcloud__Order__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Orders_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Messsage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(2, 8, 89);&quot;&gt;Please select the Return Orders to bundle&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Data_List</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>cgcloud__Order__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Return_Order_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8aa3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Order Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;cgcloud__Order_Date__c&quot;,&quot;guid&quot;:&quot;column-cf6c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Order Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Return_Order_Type__c&quot;,&quot;guid&quot;:&quot;column-e432&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Return Order Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Orl_Return_Status__c&quot;,&quot;guid&quot;:&quot;column-71dc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Return Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SussessNote</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(4, 102, 35); font-size: 14px;&quot;&gt;Success! Bundled Advanced order is created&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!newOrderId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Click Here&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChildOrderList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Order__c</objectType>
    </variables>
    <variables>
        <name>ProductIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
