force-app/main/default/flows/create_customer_manager_and_extention_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_customer_manager</name>
        <label>assign customer manager</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__Management_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__Valid_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__Valid_Thru__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>4000-12-31</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__Main__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looping_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>store_in_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_customer_manager</name>
        <label>Copy 1 of assign customer manager</label>
        <locationX>754</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__Management_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__Valid_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__Valid_Thru__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>4000-12-31</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__Main__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cmanager.cgcloud__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_looping_member.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_store_in_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_store_in_collection</name>
        <label>Copy 1 of store in collection</label>
        <locationX>754</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>customermanager</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cmanager</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_looping_member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>store_in_collection</name>
        <label>store in collection</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>customermanager</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cmanager</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checked_account_member</name>
        <label>checked account member</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_any_account_member_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_account_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>looping_member</targetReference>
            </connector>
            <label>if any account member exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>checked_record_type_is_retailer_or_not</name>
        <label>checked record type is retailer or not</label>
        <locationX>688</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_record_type_is_retailer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_owner_manager</targetReference>
            </connector>
            <label>if record type is retailer</label>
        </rules>
        <rules>
            <name>If_retailer_store_created_in_the_org</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retailer_created_by_admin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_dd_customer_manager</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If retailer store created in the org</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_checked_account_member</name>
        <label>Copy 1 of checked account member</label>
        <locationX>798</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_if_any_account_member_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_get_account_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_looping_member</targetReference>
            </connector>
            <label>Copy 1 of if any account member exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_decision_for_extension_reccord</name>
        <label>Copy 1 of decision for extension reccord</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_get_account_member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_if_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getting_customer_extension</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_get_account_member</targetReference>
            </connector>
            <label>Copy 1 of if available</label>
        </rules>
        <rules>
            <name>Copy_1_of_if_not_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getting_customer_extension</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_DD_customer_extension</targetReference>
            </connector>
            <label>Copy 1 of if not available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_extension_reccord</name>
        <label>decision for extension reccord</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>get_account_member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getting_customer_extension</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_account_member</targetReference>
            </connector>
            <label>if available</label>
        </rules>
        <rules>
            <name>if_not_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getting_customer_extension</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_customer_extension</targetReference>
            </connector>
            <label>if not available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>todaydate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>create customer manager and extention flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create customer manager and extention flow</label>
    <loops>
        <name>Copy_1_of_looping_member</name>
        <label>Copy 1 of looping member</label>
        <locationX>666</locationX>
        <locationY>1163</locationY>
        <collectionReference>Copy_1_of_get_account_member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_assign_customer_manager</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_create_customer_managers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>looping_member</name>
        <label>looping member</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <collectionReference>get_account_member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_customer_manager</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_customer_managers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_create_customer_managers</name>
        <label>Copy 1 of create customer managers</label>
        <locationX>666</locationX>
        <locationY>1571</locationY>
        <inputReference>cmanager</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_customer_extension</name>
        <label>create customer extension</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>get_account_member</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Bill_To_Role_Valid_From__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Bill_To_Role_Valid_Thru__c</field>
            <value>
                <dateValue>2120-11-21</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Company_Type__c</field>
            <value>
                <stringValue>Retailer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Delivery_Role_Modify_Preset_Quantity__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Delivery_Role_Valid_From__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Delivery_Role_Valid_Thru__c</field>
            <value>
                <dateValue>2120-11-21</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Invoice_Document_Transaction_Type__c</field>
            <value>
                <stringValue>InvoiceCreditInvoice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Payer_Role_Document_Transaction_Type__c</field>
            <value>
                <stringValue>CashInvoice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Payer_Role_Valid_From__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Payer_Role_Valid_Thru__c</field>
            <value>
                <dateValue>2120-11-21</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Payment_Mode__c</field>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Phase__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Pricing_Type__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Promotion_Valid_From__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Promotion_Valid_Thru__c</field>
            <value>
                <dateValue>2120-11-21</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Sales_Relevant__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__State__c</field>
            <value>
                <stringValue>010</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Store_Role_Valid_From__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Store_Role_Valid_Thru__c</field>
            <value>
                <dateValue>2120-11-21</dateValue>
            </value>
        </inputAssignments>
        <object>cgcloud__Account_Extension__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_customer_managers</name>
        <label>create customer managers</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <inputReference>cmanager</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_DD_customer_extension</name>
        <label>create DD customer extension</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_get_account_member</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Bill_To_Role_Valid_From__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Bill_To_Role_Valid_Thru__c</field>
            <value>
                <dateValue>2120-11-21</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Company_Type__c</field>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Delivery_Role_Modify_Preset_Quantity__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Delivery_Role_Valid_From__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Delivery_Role_Valid_Thru__c</field>
            <value>
                <dateValue>2120-11-21</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Invoice_Document_Transaction_Type__c</field>
            <value>
                <stringValue>InvoiceCreditInvoice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Payer_Role_Document_Transaction_Type__c</field>
            <value>
                <stringValue>CashInvoice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Payer_Role_Valid_From__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Payer_Role_Valid_Thru__c</field>
            <value>
                <dateValue>2120-11-21</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Payment_Mode__c</field>
            <value>
                <stringValue>Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Phase__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Pricing_Type__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Promotion_Valid_From__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Promotion_Valid_Thru__c</field>
            <value>
                <dateValue>2120-11-21</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Sales_Relevant__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__State__c</field>
            <value>
                <stringValue>010</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Store_Role_Valid_From__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Store_Role_Valid_Thru__c</field>
            <value>
                <dateValue>2120-11-21</dateValue>
            </value>
        </inputAssignments>
        <object>cgcloud__Account_Extension__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_dd_customer_manager</name>
        <label>create dd customer manager</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Copy_1_of_getting_customer_extension</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Main__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Management_Type__c</field>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__User__c</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Valid_From__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Valid_Thru__c</field>
            <value>
                <dateValue>4000-12-31</dateValue>
            </value>
        </inputAssignments>
        <object>cgcloud__Account_Manager__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_owner_manager</name>
        <label>create owner manager</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>getting_customer_extension</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Main__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Management_Type__c</field>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__User__c</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Valid_From__c</field>
            <value>
                <elementReference>todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Valid_Thru__c</field>
            <value>
                <dateValue>4000-12-31</dateValue>
            </value>
        </inputAssignments>
        <object>cgcloud__Account_Manager__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_get_account_member</name>
        <label>Copy 1 of get account member</label>
        <locationX>798</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_checked_account_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_getting_customer_extension</name>
        <label>Copy 1 of getting customer extension</label>
        <locationX>798</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_decision_for_extension_reccord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Account_Extension__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_account_member</name>
        <label>get account member</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checked_account_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getting_customer_extension</name>
        <label>getting customer extension</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_for_extension_reccord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Account_Extension__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checked_record_type_is_retailer_or_not</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountmember</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cmanager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Account_Manager__c</objectType>
    </variables>
    <variables>
        <name>customerex</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Account_Extension__c</objectType>
    </variables>
    <variables>
        <name>customerextention</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customermanager</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Account_Manager__c</objectType>
    </variables>
    <variables>
        <name>customermanagercollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Account_Manager__c</objectType>
    </variables>
    <variables>
        <name>memberuser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
