force-app/main/default/flows/Generate_Invoice_when_order_status_changed_to_InvoiceGenerated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AM_approval</name>
        <label>AM approval</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Check_RM_Discount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorAM</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Retailer requested for AM discount! Please add the same and approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>AMApproverId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>AM_manager_discount_approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RM_Approval</name>
        <label>RM Approval</label>
        <locationX>314</locationX>
        <locationY>2243</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>ErrorRM</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Retailer requested for RM discount! Please add the same and approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>RMApproverId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>RM_manager_discount_approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Sales_rep</name>
        <label>Send Email to Sales rep</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.cgcloud__Responsible__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Next_Approver_Ids</name>
        <label>Assign Next Approver Ids</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AMApproverId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fetch_AM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Area_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Next_Approver_Ids_for_RM</name>
        <label>Assign Next Approver Ids for RM</label>
        <locationX>578</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>RMApproverId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fetch_RM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Regional_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collections</name>
        <label>Assign to Collections</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>InvoiceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvoiceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Advance_order_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Invoice</name>
        <label>Assign to Invoice</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Gross_Value_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Gross_Total_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Order_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Bill_To__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Order_Account__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Bill_To__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Order_Account__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Bill_To__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Order_Account__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Advanced_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Tel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Order_Account__r.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Ship_To__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Order_Account__r.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Ship_To__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Order_Account__r.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Ship_To__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Order_Account__r.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoiced_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Initiation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_Advance_order_items.cgcloud__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Units_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Ship_To__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Order_Account__r.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collections</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Area_Manager_Not_found_error</name>
        <label>Area Manager Not found error</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Check_RM_Discount</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Area manager not found to send the approval!</errorMessage>
            <fieldSelection>Send_Approval_for_AM__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>ErrorAM</name>
        <label>ErrorAM</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <customErrorMessages>
            <errorMessage>Error while submitting for AM approval: {!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>ErrorRM</name>
        <label>ErrorRM</label>
        <locationX>578</locationX>
        <locationY>2351</locationY>
        <customErrorMessages>
            <errorMessage>Error while submitting for RM approval: {!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Regional_Manager_Not_found_error</name>
        <label>Regional Manager Not found error</label>
        <locationX>842</locationX>
        <locationY>2243</locationY>
        <customErrorMessages>
            <errorMessage>Regional manager not found to send the approval!</errorMessage>
            <fieldSelection>Send_Approval_for_RM__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Area_Manager</name>
        <label>Check Area Manager</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Area_Manager_Not_found_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Area_manager_fetched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AMApproverId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AM_approval</targetReference>
            </connector>
            <label>Area manager fetched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Manager_Discounts</name>
        <label>Check Manager Discounts</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_RM_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AM_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Approval_for_AM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AM_Role</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>AM Discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Regional_Manager</name>
        <label>Check Regional Manager</label>
        <locationX>578</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Regional_Manager_Not_found_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Regional_manager_fetched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RMApproverId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RM_Approval</targetReference>
            </connector>
            <label>Regional manager fetched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RM_Discount</name>
        <label>Check RM Discount</label>
        <locationX>842</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RM_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Approval_for_RM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RM_Role</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>RM Discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Order_Status</name>
        <label>Check the Order Status</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Orel_Order_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Orel_Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice generated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Advance_order_Items</targetReference>
            </connector>
            <label>If Changed</label>
        </rules>
        <rules>
            <name>RM_AM_Discount_needed</name>
            <conditionLogic>(1 AND 4) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Approval_for_RM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Approval_for_AM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Approval_for_AM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Approval_for_RM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Manager_Discounts</targetReference>
            </connector>
            <label>RM/AM Discount needed</label>
        </rules>
        <rules>
            <name>AM_RM_approved</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AM_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AM_Approved__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RM_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RM_Approved__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_RecType</targetReference>
            </connector>
            <label>AM/RM approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Email_Body_helper1</name>
        <dataType>String</dataType>
        <expression>IF(AND({!$Record.AM_Approved__c}, ISCHANGED({!$Record.AM_Approved__c}) ), &apos;Area Manager&apos;, &apos;Regional Manager&apos;)</expression>
    </formulas>
    <formulas>
        <name>Email_Body_helper2</name>
        <dataType>Number</dataType>
        <expression>IF(AND({!$Record.AM_Approved__c}, ISCHANGED({!$Record.AM_Approved__c}) ), {!$Record.Orl_Area_Manager_Discount__c}, {!$Record.Orl_Regional_Manager_Discount__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Task_Subject</name>
        <dataType>String</dataType>
        <expression>IF(AND({!$Record.AM_Approved__c}, ISCHANGED({!$Record.AM_Approved__c}) ), &apos;AM discount added (&apos;+{!$Record.cgcloud__Order_Id__c}+&apos;)&apos;, &apos;RM discount added (&apos;+{!$Record.cgcloud__Order_Id__c}+&apos;)&apos;)</expression>
    </formulas>
    <interviewLabel>Generate Invoice when order status changed to InvoiceGenerated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Invoice when order status changed to InvoiceGenerated</label>
    <loops>
        <name>Loop_Get_Advance_order_items</name>
        <label>Loop Get Advance order items</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Advance_order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Invoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Notification_task</name>
        <label>Create Notification task</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Send_Email_to_Sales_rep</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.cgcloud__Responsible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Notification_RecType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Generate_Invoice</name>
        <label>Generate Invoice</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>InvoiceRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_AM</name>
        <label>Fetch AM</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Next_Approver_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AM_Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AM_Role.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_RM</name>
        <label>Fetch RM</label>
        <locationX>578</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Next_Approver_Ids_for_RM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RM_Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RM_Role.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Advance_order_Items</name>
        <label>Get Advance order Items</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Get_Advance_order_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cgcloud__Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AM_Profile</name>
        <label>Get AM Profile</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_AM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Area Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AM_Role</name>
        <label>Get AM Role</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AM_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Area Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_RecType</name>
        <label>Get Notification RecType</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User_Notification</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cgcloud</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RM_Profile</name>
        <label>Get RM Profile</label>
        <locationX>578</locationX>
        <locationY>1811</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_RM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RM_Role</name>
        <label>Get RM Role</label>
        <locationX>578</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RM_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Notification_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Responsible__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Order_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>cgcloud__Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hi {!Get_User.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(55, 65, 81);&quot;&gt;We are pleased to inform you that your request for an {!Email_Body_helper1} discount has been approved. A {!Email_Body_helper2}% discount has been applied to&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(55, 65, 81); font-family: sans-serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(55, 65, 81);&quot;&gt;Order - &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Record.cgcloud__Order_Id__c}&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(55, 65, 81);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Team OREL&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Email_Body_helper1} Discount Approved for Order - {!$Record.cgcloud__Order_Id__c}</text>
    </textTemplates>
    <textTemplates>
        <name>TaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Email_Body_helper1} discount added - {!Email_Body_helper2}%
Order - {!$Record.Name}.</text>
    </textTemplates>
    <variables>
        <name>AMApproverId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Orl_invoice__c</objectType>
    </variables>
    <variables>
        <name>InvoiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Orl_invoice__c</objectType>
    </variables>
    <variables>
        <name>RMApproverId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
