force-app/main/default/flows/Inventory_Updates_based_on_Return_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Based_on_Return_Status_Update</name>
        <label>Based on Return Status Update</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Draft_to_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Orl_Return_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Orl_Return_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Items_List</targetReference>
            </connector>
            <label>Draft to Approved</label>
        </rules>
        <rules>
            <name>Approved_to_Received_at_Distributor_W_H</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Orl_Return_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Orl_Return_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received at distributor W/H</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_the_items_List_2</targetReference>
            </connector>
            <label>Approved to Received at Distributor W/H</label>
        </rules>
        <rules>
            <name>Sent_to_Orel_W_H</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Orl_Return_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received at distributor W/H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Orl_Return_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to Orel W/H</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_Items_List</targetReference>
            </connector>
            <label>Sent to Orel W/H</label>
        </rules>
        <rules>
            <name>Received_at_Orel_W_H</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Orl_Return_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to Orel W/H</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Orl_Return_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received at Orel W/H</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4_Items_List</targetReference>
            </connector>
            <label>Received at Orel W/H</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>First_Negative_of</name>
        <dataType>Number</dataType>
        <expression>-{!Loop_over_the_items_List_2.cgcloud__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Negative_of</name>
        <dataType>Number</dataType>
        <expression>-{!X4_Items_List.cgcloud__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Second_Negative_of</name>
        <dataType>Number</dataType>
        <expression>-{!X3_Items_List.cgcloud__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Inventory Updates based on Return Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Updates based on Return Status</label>
    <loops>
        <name>Loop_Over_Items_List</name>
        <label>Loop Over Items List</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Order_Items_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Inventory_Transaction_Control_Template</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_over_the_items_List_2</name>
        <label>Loop over the items List 2</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Order_Items_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>X2_Get_Inventory_Transaction_Control_Template</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>X3_Items_List</name>
        <label>3 Items List</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Order_Items_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>X3_Get_Inventory_Transaction_Control_Template</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>X4_Items_List</name>
        <label>4 Items List</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Order_Items_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>X4_Get_Inventory_Transaction_Control_Template</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inventory_Transaction</name>
        <label>Create Inventory Transaction</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Loop_Over_Items_List</targetReference>
        </connector>
        <inputAssignments>
            <field>cgcloud__Amount__c</field>
            <value>
                <elementReference>Loop_Over_Items_List.cgcloud__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory_Transaction_Template__c</field>
            <value>
                <elementReference>Get_Inventory_Transaction_Control_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory__c</field>
            <value>
                <elementReference>Get_Van_Inventory.Id</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Decrease_Distributor_Inventory</name>
        <label>Decrease Distributor Inventory</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>X3_Get_Van_Inventory</targetReference>
        </connector>
        <inputAssignments>
            <field>cgcloud__Amount__c</field>
            <value>
                <elementReference>Second_Negative_of</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory_Transaction_Template__c</field>
            <value>
                <elementReference>X3_Get_Inventory_Transaction_Control_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory__c</field>
            <value>
                <elementReference>X2_Get_Distributor_Inventory.Id</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Decrease_Van_Inventory</name>
        <label>Decrease Van Inventory</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Distributor_Inventory</targetReference>
        </connector>
        <inputAssignments>
            <field>cgcloud__Amount__c</field>
            <value>
                <elementReference>First_Negative_of</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory_Transaction_Template__c</field>
            <value>
                <elementReference>X2_Get_Inventory_Transaction_Control_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory__c</field>
            <value>
                <elementReference>X2_Get_Van_Inventory.Id</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Increase_Distributor_Inventory</name>
        <label>Increase Distributor Inventory</label>
        <locationX>490</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Loop_over_the_items_List_2</targetReference>
        </connector>
        <inputAssignments>
            <field>cgcloud__Amount__c</field>
            <value>
                <elementReference>Loop_over_the_items_List_2.cgcloud__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory_Transaction_Template__c</field>
            <value>
                <elementReference>X2_Get_Inventory_Transaction_Control_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory__c</field>
            <value>
                <elementReference>Get_Distributor_Inventory.Id</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Increase_Van_Inventory</name>
        <label>Increase Van Inventory</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>X3_Items_List</targetReference>
        </connector>
        <inputAssignments>
            <field>cgcloud__Amount__c</field>
            <value>
                <elementReference>X3_Items_List.cgcloud__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory_Transaction_Template__c</field>
            <value>
                <elementReference>X3_Get_Inventory_Transaction_Control_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory__c</field>
            <value>
                <elementReference>X3_Get_Van_Inventory.Id</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X2_Decrease_Van_Inventory</name>
        <label>2 Decrease Van Inventory</label>
        <locationX>1194</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>X4_Items_List</targetReference>
        </connector>
        <inputAssignments>
            <field>cgcloud__Amount__c</field>
            <value>
                <elementReference>Negative_of</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory_Transaction_Template__c</field>
            <value>
                <elementReference>X2_Get_Inventory_Transaction_Control_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory__c</field>
            <value>
                <elementReference>X2_Get_Van_Inventory.Id</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Distributor_Inventory</name>
        <label>Get Distributor Inventory</label>
        <locationX>490</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increase_Distributor_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orl_Inventory_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributor Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Inventory_Control_Template_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Damaged Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_the_items_List_2.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Order_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_Transaction_Control_Template</name>
        <label>Get Inventory Transaction Control Template</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Van_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory_Transaction_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Items_List</name>
        <label>Get Order Items List</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Based_on_Return_Status_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cgcloud__Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Van_Inventory</name>
        <label>Get Van Inventory</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Inventory_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orl_Inventory_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Van Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Inventory_Control_Template_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Damaged Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_Items_List.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X2_Get_Distributor_Inventory</name>
        <label>2 Get Distributor Inventory</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decrease_Distributor_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orl_Inventory_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributor Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Inventory_Control_Template_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Damaged Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_the_items_List_2.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Order_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X2_Get_Inventory_Transaction_Control_Template</name>
        <label>2 Get Inventory Transaction Control Template</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X2_Get_Van_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory_Transaction_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X2_Get_Van_Inventory</name>
        <label>2 Get Van Inventory</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decrease_Van_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orl_Inventory_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Van Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Inventory_Control_Template_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Damaged Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_Items_List.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X3_Get_Inventory_Transaction_Control_Template</name>
        <label>3 Get Inventory Transaction Control Template</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X2_Get_Distributor_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory_Transaction_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X3_Get_Van_Inventory</name>
        <label>3 Get Van Inventory</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increase_Van_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orl_Inventory_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Van Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Inventory_Control_Template_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Damaged Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_Items_List.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X4_Get_Inventory_Transaction_Control_Template</name>
        <label>4 Get Inventory Transaction Control Template</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X4_Get_Van_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory_Transaction_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X4_Get_Van_Inventory</name>
        <label>4 Get Van Inventory</label>
        <locationX>1194</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X2_Decrease_Van_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orl_Inventory_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Van Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Inventory_Control_Template_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Damaged Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_Items_List.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Items_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orl_Return_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>cgcloud__Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
