force-app/main/default/flows/Item_Value_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Update_Bundled_Return_Order_Item</name>
        <label>Update Bundled Return Order Item</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Pricebook_entry2.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bundled_RO_Final_value</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Free_Item</name>
        <label>Update Free Item</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Value_of_Item</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Order_Item</name>
        <label>Update Order Item</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Product__r.Orl_Default_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Product_Condition.cgcloud__Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Value_of_Item</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Return_Order_Item</name>
        <label>Update Return Order Item</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Product_Condition.cgcloud__Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RO_Item_Final_Value</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Sales_Order_Item</name>
        <label>Update Sales Order Item</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.cgcloud__Product__r.Orl_Default_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Pricebook_entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Value_of_Item</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Sales_Retail_Order</name>
        <label>Sales/Retail Order</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Retail_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order__r.cgcloud__Order_Template__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retailer Order Template</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order_Item_Template__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Free Item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Product_Condition</targetReference>
            </connector>
            <label>Retail Order Item</label>
        </rules>
        <rules>
            <name>Sales_Order_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order_Item_Template__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Free Item</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order__r.cgcloud__Order_Template__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Pricebook</targetReference>
            </connector>
            <label>Sales Order Item</label>
        </rules>
        <rules>
            <name>Free_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order_Item_Template__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Free Item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Free_Item</targetReference>
            </connector>
            <label>Free Item</label>
        </rules>
        <rules>
            <name>Return_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order__r.cgcloud__Order_Template__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order__r.Bundle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Product_Condition</targetReference>
            </connector>
            <label>Return Order</label>
        </rules>
        <rules>
            <name>Bundled_Return_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order__r.cgcloud__Order_Template__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order__r.Bundle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Pricebook2</targetReference>
            </connector>
            <label>Bundled Return Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Bundled_RO_Final_value</name>
        <dataType>Number</dataType>
        <expression>{!$Record.cgcloud__Price__c}*{!$Record.cgcloud__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Final_Value_of_Item</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.cgcloud__Product__r.Orl_Default_Discount__c}&gt;0, {!$Record.cgcloud__Price__c}*{!$Record.cgcloud__Quantity__c}*(100-{!$Record.cgcloud__Product__r.Orl_Default_Discount__c})/100, {!$Record.cgcloud__Price__c}*{!$Record.cgcloud__Quantity__c}*1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RO_Item_Final_Value</name>
        <dataType>Number</dataType>
        <expression>{!$Record.cgcloud__Price__c}*{!$Record.cgcloud__Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Item-Value Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Item-Value Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Product_Condition</name>
        <label>Retrieve Product Condition</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Product_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Return_Product_Condition</name>
        <label>Return Product Condition</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Return_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Product_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Standard_Pricebook</name>
        <label>Standard Pricebook</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Pricebook_entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Order__r.cgcloud__Order_Account__r.Price_Book__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Standard_Pricebook2</name>
        <label>Standard Pricebook2</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Pricebook_entry2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Order__r.cgcloud__Order_Account__r.Price_Book__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Standard_Pricebook_entry</name>
        <label>Standard Pricebook entry</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Sales_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Standard_Pricebook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Standard_Pricebook_entry2</name>
        <label>Standard Pricebook entry2</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Bundled_Return_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Standard_Pricebook2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sales_Retail_Order</targetReference>
        </connector>
        <object>cgcloud__Order_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
