force-app/main/default/flows/Orl_credit_Note_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Decision_create_or_update_credit_notes</name>
        <label>Decision create or update credit notes</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creating_Credit_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Account_recievables</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Orl_Approved_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_credit_notes_records</targetReference>
            </connector>
            <label>Creating Credit Notes</label>
        </rules>
        <rules>
            <name>Update_Credit_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Account_recievables</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Orl_Approved_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>Update Credit Notes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_creating_distributor_warehouse</name>
        <label>decision for creating distributor warehouse</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decision_for_rejected_quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rejected_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_inventory_template</targetReference>
            </connector>
            <label>decision for rejected quantity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ApprovedQuantityAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.cgcloud__Price__c} * {!$Record.Orl_Approved_Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalamount</name>
        <dataType>Currency</dataType>
        <expression>{!Getting_Account_recievables.cgcloud__Amount__c} +( {!$Record.Orl_Approved_Quantity__c} * {!$Record.cgcloud__Price__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdateWithRejectedQty</name>
        <dataType>Number</dataType>
        <expression>-{!$Record.Rejected_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Orl credit Note creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orl credit Note creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_credit_notes_records</name>
        <label>Create credit notes records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Getting_Account_records</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_Id__c</field>
            <value>
                <elementReference>$Record.cgcloud__Order__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Account__c</field>
            <value>
                <elementReference>$Record.cgcloud__Order__r.cgcloud__Order_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Amount__c</field>
            <value>
                <elementReference>ApprovedQuantityAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Document_Type__c</field>
            <value>
                <stringValue>CreditNote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Invoice_Status__c</field>
            <value>
                <stringValue>UnPaid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Receipt_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Account_Receivable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_inventory_transaction</name>
        <label>Create New inventory transaction</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>decision_for_creating_distributor_warehouse</targetReference>
        </connector>
        <inputAssignments>
            <field>cgcloud__Amount__c</field>
            <value>
                <elementReference>UpdateWithRejectedQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Charge_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory_Transaction_Template__c</field>
            <value>
                <elementReference>Getting_Inventory_transaction_template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory__c</field>
            <value>
                <elementReference>Getting_Inventory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Order_Document__c</field>
            <value>
                <elementReference>$Record.cgcloud__Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Order_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creating_inventory_transaction</name>
        <label>Creating inventory transaction</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <inputAssignments>
            <field>cgcloud__Amount__c</field>
            <value>
                <elementReference>$Record.Rejected_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Balance__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory_Transaction_Template__c</field>
            <value>
                <elementReference>Getting_Inventory_transaction_template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Inventory__c</field>
            <value>
                <elementReference>Getting_Inventory_of_distributors.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Order_Document__c</field>
            <value>
                <elementReference>$Record.cgcloud__Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Order_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Getting_Account_recievables</name>
        <label>Getting Account recievables</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_create_or_update_credit_notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Order__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Account_Receivable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Account_records</name>
        <label>Getting Account records</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orel Corporation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Inventory</name>
        <label>Getting Inventory</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Inventory_transaction_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Account_records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Orl_Inventory_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Company Inventory</stringValue>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Inventory_of_distributors</name>
        <label>Getting Inventory of distributors</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creating_inventory_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Order__r.cgcloud__Order_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Inventory_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_inventory_template.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Orl_Inventory_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributor Inventory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_inventory_template</name>
        <label>Getting inventory template</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Inventory_of_distributors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Return Damaged Inventory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory_Control_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Inventory_transaction_record</name>
        <label>Getting Inventory transaction record</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Inventory_transaction_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Inventory.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Inventory_transaction_template</name>
        <label>Getting Inventory transaction template</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_inventory_transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Withdraw</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Inventory_Transaction_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Getting_Account_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Account_recievables.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>cgcloud__Amount__c</field>
            <value>
                <elementReference>totalamount</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Account_Receivable__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_Account_recievables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QC_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Orl_Approved_Quantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QC_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>cgcloud__Order_Item__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
