force-app/main/default/flows/Orl_Invoice_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Store_the_Order_Line_Items</name>
        <label>Store the Order Line Items</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Gross_Value_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Bill_To__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Bill_To__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Bill_To__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Tel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Ship_To__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Ship_To__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Ship_To__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoiced_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Units_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceRecord.Orl_Invoice_Ship_To__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_to_collection</name>
        <label>Store to collection</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>InvoiceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvoiceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_Order_Status</name>
        <label>Check the Order Status</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>If_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Line_Item</targetReference>
            </connector>
            <label>If Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Orl Invoice Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orl Invoice Creation</label>
    <loops>
        <name>Loop_Order_Line_Items</name>
        <label>Loop Order Line Items</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Order_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_the_Order_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>InvoiceRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Line_Item</name>
        <label>Get Order Line Item</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Orl_invoice__c</objectType>
    </variables>
    <variables>
        <name>InvoiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Orl_invoice__c</objectType>
    </variables>
    <variables>
        <name>totalQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
