force-app/main/default/flows/orl_drawing_design_notification_to_sales_team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email_alert_to_sales_team_on_drawing_acceptance</name>
        <label>send email alert to sales team on drawing acceptance.</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Opportunity.Drawings_has_been_accepted_by_customer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Drawings_has_been_accepted_by_customer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_email_alert_to_sales_team_on_drawing_rejection</name>
        <label>send email alert to sales team on drawing rejection.</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>Opportunity.Drawing_has_been_rejected_by_customer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Drawing_has_been_rejected_by_customer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assigning_user_to_recipient</name>
        <label>Assigning user to recipient</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>recipientsalesteam</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_user_based_on_profile.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_design_status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_design_status</name>
        <label>Check the design status</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_the_Drawings_Good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Design_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drawings Good</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email_alert_to_sales_team_on_drawing_acceptance</targetReference>
            </connector>
            <label>If the Drawings Good</label>
        </rules>
        <rules>
            <name>If_the_Drawings_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Design_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drawings Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email_alert_to_sales_team_on_drawing_rejection</targetReference>
            </connector>
            <label>If the Drawings Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>orl drawing design notification to sales team. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>orl drawing design notification to sales team.</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_profile_of_sales_team</name>
        <label>get profile of sales team</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_user_based_on_profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Team Profile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user_based_on_profile</name>
        <label>get user based on profile</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_user_to_recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_profile_of_sales_team.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_profile_of_sales_team</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recipientsalesteam</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
