force-app/main/default/flows/orl_product_history_on_Product_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>allocated_Quanity_changed</name>
        <label>allocated Quanity</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>FieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Allocated Quanity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>priorValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Orl_Allocated_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_History__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>modifiedfields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>concatanateField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Discount_Percentage_change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Percentage_changed</name>
        <label>Discount Percentage</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>FieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discount Percentage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>priorValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>modifiedfields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>concatanateField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_History__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>lastmodified_real</name>
        <label>lastmodified real</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>lastmodiedreal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>product_history_previous</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>product_history_previous</name>
        <label>product history previous</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>NewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_History__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Sales_Price_change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quantity_changeed</name>
        <label>Quantity change</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>FieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>priorValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_History__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>modifiedfields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>concatanateField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IF_allocated_Quanity_change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Price_changed</name>
        <label>Sales Price changed</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>FieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Price</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>priorValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_History__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>modifiedfields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>concatanateField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Quatity_change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_product_histories</name>
        <label>update product history</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalproducthistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_multiple_updates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_count</name>
        <label>check count</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Update_product_history</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_count_of_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_product_histories</targetReference>
            </connector>
            <label>check count of update</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_allocated_Quanity_change</name>
        <label>IF allocated Quanity change</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>If_Discount_Percentage_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>allocated_Quanity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Orl_Allocated_Quantity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>allocated_Quanity_changed</targetReference>
            </connector>
            <label>allocated Quanity</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Discount_Percentage_change</name>
        <label>If Discount Percentage change</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>check_count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Discount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_Percentage_changed</targetReference>
            </connector>
            <label>Discount Percentage</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Quatity_change</name>
        <label>If Quantity change</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>IF_allocated_Quanity_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quantity_changeed</targetReference>
            </connector>
            <label>Quantity change</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Sales_Price_change</name>
        <label>If Sales Price change</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>If_Quatity_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Price_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UnitPrice</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Price_changed</targetReference>
            </connector>
            <label>Sales Price change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>concatanateField</name>
        <dataType>String</dataType>
        <expression>{!FieldName} + &apos;:&apos; + {!priorValue} + &apos;, &apos;</expression>
    </formulas>
    <formulas>
        <name>finalproducthistory</name>
        <dataType>String</dataType>
        <expression>&quot;  &quot; + &quot;  &quot;  + {!NewValue} + {!modifiedfields} + &apos;  &apos; + {!lastmodiedreal} + &apos;, &apos; +
{!lastModifiedBy} + &quot;  &quot; + &quot;  &quot; + &apos; | &apos;</expression>
    </formulas>
    <formulas>
        <name>productHistory</name>
        <dataType>String</dataType>
        <expression>&quot;  &quot; + &quot;  &quot;  + {!FieldName} + &apos;:&apos; + {!priorValue} + &apos;, &apos; + {!lastmodiedreal}+ &apos;, &apos; + {!lastModifiedBy} + &quot;  &quot; + &quot;  &quot; + &apos; | &apos;</expression>
    </formulas>
    <interviewLabel>orl product history on Product record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>orl product history on Product record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_user</name>
        <label>get user</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lastmodified_real</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>lastModifiedBy</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>for_multiple_updates</name>
        <label>for multiple updates</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_product_history</name>
        <label>Update product history</label>
        <locationX>314</locationX>
        <locationY>1955</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_user</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lastmodiedreal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lastModifiedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>modifiedfields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>priorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
