force-app/main/default/flows/orl_notification_to_sales_tea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_to_sales_juser</name>
        <label>Notification to sales juser</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>send_email_to_sales_team_as_quote_is_accepted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>notification_to_sales_team_on_quote_acceptance.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>A quote {!$Record.Name} has been accepted.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Quote: {!$Record.Name}, Quote Accepted Date: {!$Record.LastModifiedDate},  Project name: {!$Record.Opportunity.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>notify_project_head_when_quote_is_rejected_by_customer</name>
        <label>notify project head when quote is rejected by customer</label>
        <locationX>1282</locationX>
        <locationY>1379</locationY>
        <actionName>Quote.Notification_to_project_head</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>sales_notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Quote.Notification_to_project_head</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Quote_notification_on_rejection</name>
        <label>Quote notification on rejection</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>send_email_to_sales_team_as_quote_is_rejected</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>notification_to_sales_team_on_quote_rejection.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>A Quote {!$Record.Name} has been rejected.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Quote: {!$Record.Name}, Quote Rejected Date: {!$Record.LastModifiedDate},  Project name: {!$Record.Opportunity.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>quote_rejection_notification_to_project_head</name>
        <label>quote rejection notification to project head</label>
        <locationX>1282</locationX>
        <locationY>1271</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>notify_project_head_when_quote_is_rejected_by_customer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_notification_quote_is_rejected_by_customer.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>projectteamrecepient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Quote has been rejected.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>A quote {!$Record.Name} has been rejected.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sales_notification</name>
        <label>sales notification</label>
        <locationX>1282</locationX>
        <locationY>1487</locationY>
        <actionName>Quote.Quote_rejection_notification_to_sales_team_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Quote.Quote_rejection_notification_to_sales_team_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_email_to_sales_team_as_quote_is_accepted</name>
        <label>send email to sales team as quote is accepted</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>Quote.Quote_acceptance_notification_to_sales_team_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Quote.Quote_acceptance_notification_to_sales_team_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_email_to_sales_team_as_quote_is_rejected</name>
        <label>send email to sales team as quote is rejected</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>Quote.Quote_rejection_notification_to_sales_team_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Quote.Quote_rejection_notification_to_sales_team_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_email_to_sales_team_on_quote_acceptance_of_repeater</name>
        <label>send email to sales team on quote acceptance of repeater</label>
        <locationX>930</locationX>
        <locationY>1379</locationY>
        <actionName>Quote.Quote_acceptance_notification_to_sales_team_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Quote.Quote_acceptance_notification_to_sales_team_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_notification_to_sales_team_on_repeater_quote_acceptance_by_customer</name>
        <label>send notification to sales team on repeater quote acceptance by customer</label>
        <locationX>930</locationX>
        <locationY>1271</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>send_email_to_sales_team_on_quote_acceptance_of_repeater</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_custom_acceptance_notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recepientPTST</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>A quote {!$Record.Name} has been accepted by customer.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Quote: {!$Record.Name}, Quote Accepted Date: {!$Record.LastModifiedDate},  Project name: {!$Record.Opportunity.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_the_user_recepient</name>
        <label>Assign the user recepient</label>
        <locationX>1018</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>recepientPTST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>looping_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Users_to_variable</name>
        <label>Assigning Users to variable</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_quote_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_and_assign_the_user</name>
        <label>get and assign the user</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>projectteamrecepient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_quote_status</name>
        <label>Check the quote status</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_it_is_accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notification_to_sales_team_on_quote_acceptance</targetReference>
            </connector>
            <label>If it is accepted</label>
        </rules>
        <rules>
            <name>If_it_is_rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notification_to_sales_team_on_quote_rejection</targetReference>
            </connector>
            <label>If it is rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_it_is_quote</name>
        <label>if it is quote</label>
        <locationX>1062</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_runner_quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Orl_Opportunity_record_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Runner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Users_to_variable</targetReference>
            </connector>
            <label>if runner quote</label>
        </rules>
        <rules>
            <name>if_it_is_repeater_quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Orl_Opportunity_record_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repeater</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_repeater_quote_is_accepted_by_customer</targetReference>
            </connector>
            <label>if it is repeater quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_repeater_quote_is_accepted_by_customer</name>
        <label>if repeater quote is accepted by customer</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_it_accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_the_profile_of_project_team_sales_team</targetReference>
            </connector>
            <label>if it accepted</label>
        </rules>
        <rules>
            <name>if_it_is_denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_profile_of_project_head</targetReference>
            </connector>
            <label>if it is denied</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentusername</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$User.FirstName}, &apos;&apos;) &amp; &apos; &apos; &amp; BLANKVALUE({!$User.LastName}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>notificationApprove</name>
        <dataType>String</dataType>
        <expression>&apos;Quote Name: &apos; &amp; {!$Record.Name} &amp; &apos; • &apos; &amp;
&apos;Quote Number: &apos; &amp; {!$Record.QuoteNumber} &amp; &apos; • &apos; &amp;
&apos;Opportunity Name: &apos; &amp; {!$Record.Opportunity.Name}</expression>
    </formulas>
    <formulas>
        <name>rejectionNotification</name>
        <dataType>String</dataType>
        <expression>&apos;Quote Name : &apos; &amp; {!$Record.Name} &amp; &apos; • &apos; &amp; 
&apos;Quote Number : &apos; &amp; {!$Record.QuoteNumber} &amp; &apos; • &apos; &amp; 
&apos;Opportunity Name : &apos; &amp;{!$Record.Opportunity.Name}</expression>
    </formulas>
    <interviewLabel>Notification to sales tem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>orl notification to sales team</label>
    <loops>
        <name>loop_users</name>
        <label>loop users</label>
        <locationX>1282</locationX>
        <locationY>863</locationY>
        <collectionReference>get_project_head_sales_user</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_and_assign_the_user</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_notification_quote_is_rejected_by_customer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>looping_users</name>
        <label>looping users</label>
        <locationX>930</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_user_by_profiles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_user_recepient</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_custom_acceptance_notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_get_the_profile_of_project_team_sales_team</name>
        <label>Copy 1 of get the profile of project team, sales team</label>
        <locationX>930</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_user_by_profiles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OREL Sales Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_custom_acceptance_notification</name>
        <label>get custom acceptance notification</label>
        <locationX>930</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>send_notification_to_sales_team_on_repeater_quote_acceptance_by_customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A_quote_is_accepted_by_the_customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_get_sales_team</name>
        <label>get get sales team</label>
        <locationX>1282</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_project_head_sales_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OREL Sales Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_notification_quote_is_rejected_by_customer</name>
        <label>get notification quote is rejected by customer</label>
        <locationX>1282</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>quote_rejection_notification_to_project_head</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A_quote_is_rejected_by_the_customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_profile_of_project_head</name>
        <label>get profile of project head</label>
        <locationX>1282</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_get_sales_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Head Profile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_project_head_sales_user</name>
        <label>get project head, sales user</label>
        <locationX>1282</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_users</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_profile_of_project_head.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_get_sales_team.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_the_profile_of_project_team_sales_team</name>
        <label>get the profile of project team, sales team</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_get_the_profile_of_project_team_sales_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Team Profile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user_by_profiles</name>
        <label>Get user by profiles</label>
        <locationX>930</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_users</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_the_profile_of_project_team_sales_team.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_get_the_profile_of_project_team_sales_team.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>notification_to_sales_team_on_quote_acceptance</name>
        <label>notification to sales team on quote acceptance</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_to_sales_juser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A_quote_is_accepted_by_the_customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>notification_to_sales_team_on_quote_rejection</name>
        <label>notification to sales team on quote rejection</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_notification_on_rejection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A_quote_is_rejected_by_the_customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>936</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_it_is_quote</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>projectteamrecepient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recepientprojectteam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recepientpt</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recepientpteam</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>project team and sales team user</description>
        <name>recepientPTST</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesprofilename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
