force-app/main/default/flows/Orl_original_order_Id_validation_check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <customErrors>
        <description>Please enter valid order number</description>
        <name>validation</name>
        <label>validation</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>original_orders_loop</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Please enter valid order number</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Decision_for_validation</name>
        <label>Decision for validation</label>
        <locationX>396</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>original_orders_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>original_order_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cgcloud__Customer_Order_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>original_orders_loop.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>validation</targetReference>
            </connector>
            <label>original order check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Orl original order Id validation check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orl original order Id validation check</label>
    <loops>
        <name>original_orders_loop</name>
        <label>original orders loop</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>getting_Advanced_order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_for_validation</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getting_Advanced_order</name>
        <label>getting Advanced order</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>original_orders_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Return_Order_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cgcloud__Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getting_Advanced_order</targetReference>
        </connector>
        <object>cgcloud__Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
