force-app/main/default/flows/Product_price_From_Product_Conditioin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Product price From Product Conditioin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product price From Product Conditioin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>pb_entry</name>
        <label>pb entry</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_PB.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>get_Products_Associated_with_Condition.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.cgcloud__Value__c</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PB</name>
        <label>Get PB</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pb_entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Products_Associated_with_Condition</name>
        <label>get Products Associated with Condition</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_update_Price_to_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Bundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_Price_to_Product</name>
        <label>Copy 1 of update Price to Product</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_PB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Products_Associated_with_Condition.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Price__c</field>
            <value>
                <elementReference>$Record.cgcloud__Value__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Products_Associated_with_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Price_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>factory</stringValue>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Price_List_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WS1999</stringValue>
            </value>
        </filters>
        <object>cgcloud__Product_Condition__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
