force-app/main/default/flows/Retailer_Discount_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Retail_GTV_Calculation</name>
        <label>Retail-GTV Calculation</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.cgcloud__Gross_Total_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retail_Total_Value</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Sales_Retail_Order</name>
        <label>Sales/Retail Order</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Retail_Order</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order_Template__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retailer Order Template</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Orl_Area_Manager_Discount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Orl_Regional_Manager_Discount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Value__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_GTV_Calculation</targetReference>
            </connector>
            <label>Retail Order</label>
        </rules>
        <rules>
            <name>Sales_Order</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order_Template__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Template</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Orl_Area_Manager_Discount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Orl_Regional_Manager_Discount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Value__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_GTV_Calculation</targetReference>
            </connector>
            <label>Sales Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Retail_Total_Value</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Orl_Area_Manager_Discount__c}&gt;0, IF({!$Record.Orl_Regional_Manager_Discount__c}&gt;0, {!$Record.Total_Value__c} * (100 - {!$Record.Orl_Area_Manager_Discount__c})/100 *(100-{!$Record.Orl_Regional_Manager_Discount__c})/100, {!$Record.Total_Value__c} * (100-{!$Record.Orl_Area_Manager_Discount__c})/100), IF({!$Record.Orl_Regional_Manager_Discount__c}&gt;0, {!$Record.Total_Value__c} *(100-{!$Record.Orl_Regional_Manager_Discount__c})/100, {!$Record.Total_Value__c} ))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Sales_Total_Value</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.cgcloud__Order_Account__r.orl_BG_Verified__c}=TRUE, IF({!$Record.Orl_Area_Manager_Discount__c}&gt;0, IF({!$Record.Orl_Regional_Manager_Discount__c}&gt;0, {!$Record.Total_Value__c} *(100-{!Retrieve_BG_Discount.BG_Discount__c})/100*(100 - {!$Record.Orl_Area_Manager_Discount__c})/100*(100-{!$Record.Orl_Regional_Manager_Discount__c})/100, {!$Record.Total_Value__c}*(100-{!Retrieve_BG_Discount.BG_Discount__c})/100 * (100-{!$Record.Orl_Area_Manager_Discount__c})/100), IF({!$Record.Orl_Regional_Manager_Discount__c}&gt;0, {!$Record.Total_Value__c} *(100-{!Retrieve_BG_Discount.BG_Discount__c})/100*(100-{!$Record.Orl_Regional_Manager_Discount__c})/100, {!$Record.Total_Value__c}*(100-{!Retrieve_BG_Discount.BG_Discount__c})/100 )), IF({!$Record.Orl_Area_Manager_Discount__c}&gt;0, IF({!$Record.Orl_Regional_Manager_Discount__c}&gt;0, {!$Record.Total_Value__c} * (100 - {!$Record.Orl_Area_Manager_Discount__c})/100 *(100-{!$Record.Orl_Regional_Manager_Discount__c})/100, {!$Record.Total_Value__c} * (100-{!$Record.Orl_Area_Manager_Discount__c})/100), IF({!$Record.Orl_Regional_Manager_Discount__c}&gt;0, {!$Record.Total_Value__c} *(100-{!$Record.Orl_Regional_Manager_Discount__c})/100, {!$Record.Total_Value__c} )))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SO_value_after_BG</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Total_Value__c}*(100-{!Retrieve_BG_Discount.BG_Discount__c})/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Discount Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retailer Discount Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_BG_Discount</name>
        <label>Retrieve BG Discount</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_Retail_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discount_Value</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Discount__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Sales_GTV_Calculation</name>
        <label>Sales-GTV Calculation</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>cgcloud__Gross_Total_Value__c</field>
            <value>
                <elementReference>Sales_Total_Value</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_BG_Discount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_Value__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>cgcloud__Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
