force-app/main/default/flows/TestingFOC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Free_Items_Addition</name>
        <label>Free Items Addition</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>FreeItemAddition</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Update_Error_occured_field</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>itemIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FreeItemAddition</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>GTV_Calculation</name>
        <label>GTV Calculation</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>GTV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_related_Items.cgcloud__Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_related_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_free_Item</name>
        <label>Check for free Item</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Free item</defaultConnectorLabel>
        <rules>
            <name>Free_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order_Item_Template__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Free Item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_Items</targetReference>
            </connector>
            <label>Not Free Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Return_or_Not</name>
        <label>Return or Not</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Return order</defaultConnectorLabel>
        <rules>
            <name>Not_Return_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cgcloud__Order__r.cgcloud__Order_Template__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Free_Items_Addition</targetReference>
            </connector>
            <label>Not Return Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TestingFOC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestingFOC</label>
    <loops>
        <name>Loop_over_related_Items</name>
        <label>Loop over related Items</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_related_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GTV_Calculation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_GTV</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_Items</name>
        <label>Get related Items</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_related_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cgcloud__Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Error_occured_field</name>
        <label>Update Error occured field</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Error_Occured__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_GTV</name>
        <label>Update Order GTV</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Return_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cgcloud__Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Value__c</field>
            <value>
                <elementReference>GTV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Gross_Total_Value__c</field>
            <value>
                <elementReference>GTV</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Order__c</object>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_free_Item</targetReference>
        </connector>
        <object>cgcloud__Order_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GTV</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
