force-app/main/default/flows/Update_Product_bundle_price_by_Final_price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_for_REPEATER_opportunity</name>
        <label>Check for REPEATER opportunity</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_REP_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote.Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repeater</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Price_with_GP</targetReference>
            </connector>
            <label>check REP opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_for_Master_product</name>
        <label>Copy 1 of check for Master product</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_if_Bundle_Check_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Product.Product_Bundle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Update_Product_Bundle_price</targetReference>
            </connector>
            <label>Copy 1 of if Bundle Check is true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BundlePriceWithVAT</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Final_Bundle_Price__c}+{!$Record.VAT_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PriceWirhGP</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Price_without_GP__c} +{!$Record.Gross_Profit_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Product bundle price by Final price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product bundle price by Final price</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Product</name>
        <label>Get Related Product</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_check_for_Master_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Calculate_Price_with_GP</name>
        <label>Calculate Price with GP</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Bundle_Price_with_VAT</targetReference>
        </connector>
        <inputAssignments>
            <field>Price_With_GP__c</field>
            <value>
                <elementReference>PriceWirhGP</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Product_Bundle_price</name>
        <label>Copy 1 of Copy 1 of Update Product Bundle price</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Product.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bundle_Price_With_VAT__c</field>
            <value>
                <elementReference>$Record.Final_Bundle_Price_with_VAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bundle_Price_with_Quantity__c</field>
            <value>
                <elementReference>$Record.Final_Bundle_Price_with_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bundle_Price_with_VAT_Quantity__c</field>
            <value>
                <elementReference>$Record.Final_Bundle_Price_with_VAT_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bundle_Quantity__c</field>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Price_from_Line_item__c</field>
            <value>
                <elementReference>$Record.Final_Bundle_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bundle_Price_with_VAT</name>
        <label>Update Bundle Price with VAT</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Related_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>Final_Bundle_Price_with_VAT__c</field>
            <value>
                <elementReference>BundlePriceWithVAT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_REPEATER_opportunity</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
